@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-frosted-glass {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
.blend-lighten {
  mix-blend-mode: lighten;
}
.section-blend {
  display: flex;
  mix-blend-mode: lighten;
}
.section-blend > * {
  flex: 1;
}
